.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cartItem ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.cartItem ul li {
  font-size: 16px;
}

.cartItem ul li span {
  color: #777e91;
}

@media (max-width: 925px) {
  .cartItem {
    margin-bottom: 20px;
  }

  .cartItem ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .cartItem ul:nth-child(2) {
    align-items: flex-end;
  }

  .cartItem ul li {
    margin-bottom: 10px;
  }
}
